<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/default.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <form class="topu">
                    <div class="top" action="#" method="GET">
                        <i class="fa fa-search"></i> <input type="text" name="buscar"
                            placeholder="Buscar productos, marcas y más">
                </form>
                <div class="submit"></div>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
    
            </div>
    
            </div>
            <nav>
                <ul id="a">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <p>
            <br>
        </p>
        <main class="register">
            <div class="testbox">
               
              
                <form class="form" action="/">
                    <h1>Iniciar Sesion</h1>
                <label id="icon" for="name"><i class="icon-envelope "></i></label>
                <input type="text" name="name" id="name" placeholder="Email" required/>
                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name" placeholder="Contraseña" required/>
                                
                 <a href="#" class="button">Ingresar</a>
                </form>
              </div>
        </main>
        <footer>
            <ul class="pie">
                <section>
                <i class="fab fa-cc-visa"></i>
                <li> Pagá con tarjeta o en efectivo </li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro</p>
                </section>
                <section>
                    <i class="fas fa-gift"></i>
                    <li> Envío gratis desde $ 2.500</li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section>
                    <i class="fas fa-user-shield"></i>
                    <li>Seguridad, de principio a fin</li>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@. </p>
                    
                </section>
            </ul>
        </footer>
    <div class="end">Copyright © 1999-2025 MercadoLiebre S.R.L.</div>
    </body>
</html>